body{
background-color:linen;
background-image:url("/home/section1/Downloads/5aafec1d2d5ba60001824e8a.jpeg");
background-repeat:repeat-y;
font-size:20px;
}
h1{
background-color:lightblue;
margin-left:20px;
margin-top:50px;
margin-bottom:50px;
margin-left:25px;
margin-right:25px;
width:50%;
text-transform:uppercase;
font-size:3em;
text-shadow:2px 2px black;
}
h1,p{
color:red;
}
para1{
color:blue;
}
p.colortext{
color:green;
}
p.highlight:hover{
background-color:lightblue;
}
p{
border:4px dotted red;
border:10px solid green; 
padding:50px;
text-transform:capitalize;
font-style:italic;
}
p::first-letter{
color:red;
font-size:xx-large;
}
div{
box-shadow:10px 10px;
width:200px;
border:25px solid navy;
border-radius:25px;
}
div>p{
color:teal;
}
a{
text-decoration:none;
}
a:link{
color:red;
background-color:lightblue;
}
a:visited{
color:blue;
background-color:lightblue;
}
a:hover{
color:red;
background-color:yellow;
}
a:active{
color:red;
background-color:yellow;
}
ul{
list-style:square;
}
ol{
list-style:upper-roman;
}
table{
border:2px solid green;
border-collapse:collapse;
}
img{
opacity:0.3;
}
img:hover{
opacity:1.0;
}
