body{
background-color:linen;
background-repeat:repeat;
background-attachment:scroll;
}
h1{
color:maroon;
margin-left:40px;
}
div{
width:300px;
margin:25px;
border:25px solid teal;
padding:25px;
background-color:brown;
}
div:hover{
background-color:powderblue;
}
p{
display:none;
background-color:violet;
padding:20px;
} 
div:hover p{
display:block;
}
p::first-line{
color:red;
font-variant:small-caps;
}
img:hover{
opacity:0;
filter:alpha(opacity=100);
}

li{
display:inline;
}
a:link,a:visited{
color:white;
padding:5px 5px 5px;
text-decoration:none;
display:inline;
}
a.highlight:hover{
color:black;
}
div.first{
opacity:0.1;
}
div.second{
opacity:0.3;
}

div.third{
opacity:0.6;
}








