#top{
padding:50px;
background-color:lightgrey;
}
li{
display:inline;
}
p{
color:red;
display:inline;
}
ul{
float:right;
word-spacing:50px;
}
li:hover{
color:red;
}
#two{
padding:150px;
background-color:lightgrey;
}
h1{
color:red;
}
p1,p2{
color:black;
}
#ione{
float:right;
}
#three{
background-color:yellow;
padding:150px;
}
#itwo{
margin-left:130px;
}
#ithree{
margin-left:160px;
}

#ifour{
margin-left:130px;
}
p3{

word-spacing:130px;
}





